<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension-point id="profiles" name="profiles" schema="schema/profiles.exsd"/>
<extension
         point="org.eclipse.ui.newWizards">
      <category
            parentCategory="org.eclipse.ui.Examples"
            id="AppProfilesSampleWizardsCategory"
            name="Applications from Profiles"/>
      <wizard
            category="org.eclipse.ui.Examples/AppProfilesSampleWizardsCategory"
            class="com.worldline.appprofiles.wizard.ui.project.SampleApplicationWizard"
            icon="icons/newprf-wiz.gif"
            id="AppProfilesCommonMavenSampleProjectWizard"
            name="Create new Sample Application from Profile"
            project="true">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
	<actionSet
		id="com.worldline.application.wizard.actionset"
		label="Create Application"
		visible="true">
		<action
        class="com.worldline.appprofiles.wizard.ui.project.RunApplicationWizardAction"
        icon="icons/newprf-wiz.gif"
        id="com.worldline.common.maven.wizard.actionset.action"
        label="Create new Application from Profile"
        toolbarPath="org.eclipse.jdt.ui.JavaElementCreationActionSet/JavaWizards"
        tooltip="Create Application"> 
		</action> 
	</actionSet> 
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="AppProfilesWizardsCategory"
            name="Applications from Profiles"/>
      <wizard
            category="AppProfilesWizardsCategory"
            class="com.worldline.appprofiles.wizard.ui.project.ApplicationWizard"
            icon="icons/newprf-wiz.gif"
            id="AppProfilesCommonMavenProjectWizard"
            name="Create new Application from Profile"
            project="true">
      </wizard>
      </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="AppProfilesCommonMavenProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <newWizardShortcut
               id="AppProfilesCommonMavenProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.wst.web.ui.webDevPerspective">
         <newWizardShortcut
               id="AppProfilesCommonMavenProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
