<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.worldline.appprofiles.wizard.ui.profiles">
      <profile
            documentationURL="http://www.google.com"
            id="com.worldline.appprofiles.tests.webprofile"
            kind="Standard"
            name="Web Profile">
         <module
               id="com.worldline.appprofiles.tests.webmodule"
               mandatory="true"
               name="Web Module"
               suffix="-web">
            <location>
               <mavenLocation
                     artifactId="designer-domain"
                     groupId="com.worldline.archetypes"
                     repository="http://repository.atosworldline.com/maven2/"
                     version="3.0.0">
               </mavenLocation>
            </location>
         </module>
         <module
               id="com.worldline.appprofiles.tests.coremodule"
               mandatory="false"
               name="Core Module"
               suffix="-core">
            <configurationReference
                  configurationId="ModuleConfiguration">
            </configurationReference>
            <location>
               <mavenLocation
                     artifactId="designer-common"
                     groupId="com.worldline.archetypes"
                     repository="http://repository.atosworldline.com/maven2/"
                     version="3.0.0">
               </mavenLocation>
            </location>
         </module>
         <module
               id="com.worldline.appprofiles.tests.totomodule"
               mandatory="false"
               name="Toto Module"
               prefix="toto-"
               suffix="-toto">
            <requirements>
               <requirement
                     moduleId="com.worldline.appprofiles.tests.coremodule">
               </requirement>
            </requirements>
            <incompatibilities>
               <incompatibility
                     moduleId="com.worldline.appprofiles.tests.tatamodule">
               </incompatibility>
            </incompatibilities>
            <location>
               <mavenLocation
                     artifactId="designer-common"
                     groupId="com.worldline.archetypes"
                     repository="http://repository.atosworldline.com/maven2/"
                     version="3.0.0">
               </mavenLocation>
            </location>
         </module>
         <module
               id="com.worldline.appprofiles.tests.tatamodule"
               mandatory="false"
               name="Tata Module"
               prefix="tata-"
               suffix="-tata">
            <location>
               <mavenLocation
                     artifactId="com.worldline.appprofiles.tests.mavenLocation1"
                     groupId="com.worldline.appprofiles.tests.mavenLocation1"
                     repository="com.worldline.appprofiles.tests.mavenLocation1"
                     version="com.worldline.appprofiles.tests.mavenLocation1">
               </mavenLocation>
            </location>
         </module>
         <configurationReference
               configurationId="com.worldline.appprofiles.tests.configuration.rm">
         </configurationReference>
      </profile>
      <configuration
            id="com.worldline.appprofiles.tests.configuration.rm"
            name="XA RM Configuration"
            version="1.0.0">
         <valueConfigurationEntry
               configurator="com.worldline.appprofiles.wizard.tests.EditableConfigurator2"
               default="/rights.properties"
               id="EditableConfigurator21"
               message="Please specify groups properties file :"
               validator="com.worldline.appprofiles.wizard.tests.ValueValidator">
         </valueConfigurationEntry>
         <optionalConfigurationEntry
               configurator="com.worldline.appprofiles.wizard.tests.Configurator2"
               default="false"
               id="Configurator2"
               message="Apply XA RM configuration">
         </optionalConfigurationEntry>
         <valueConfigurationEntry
               configurator="com.worldline.appprofiles.wizard.tests.EditableConfigurator2"
               default="/myfile.xml"
               id="EditableConfigurator22"
               message="Please specify another configuration file"
               validator="com.worldline.appprofiles.wizard.tests.ValueValidator">
         </valueConfigurationEntry>
         <optionalConfigurationEntry
               configurator="com.worldline.appprofiles.wizard.tests.Configurator2"
               default="true"
               id="Configurator3"
               message="Apply XA RM configuration 2">
         </optionalConfigurationEntry>
         <optionalEntriesCombination
               configurator="com.worldline.appprofiles.wizard.tests.MultipleConfigurator">
            <optionalEntryReference
                  entryId="Configurator2">
            </optionalEntryReference>
            <optionalEntryReference
                  entryId="Configurator3">
            </optionalEntryReference>
         </optionalEntriesCombination>
      </configuration>
      <profile
            globalConfigurator="com.worldline.appprofiles.wizard.tests.CommonGlobalConfigurator"
            id="com.worldline.appprofiles.tests.common"
            kind="Standard"
            name="Java Profile">
         <module
               id="common.module"
               mandatory="true"
               name="Common.Module"
               packageSuffix=".core"
               suffix="-core">
            <location>
               <mavenLocation
                     artifactId="designer-common"
                     groupId="com.worldline.archetypes"
                     repository="http://repository.atosworldline.com/maven2/"
                     version="3.0.0">
               </mavenLocation>
            </location>
         </module>
      </profile>
      <configuration
            id="ModuleConfiguration"
            name="ModuleConfiguration"
            version="1.1.0">
         <optionalConfigurationEntry
               configurator="com.worldline.appprofiles.wizard.tests.Configurator2"
               default="true"
               id="com.worldline.appprofiles.wizard.tests.optionalConfigurationEntrydddd1"
               message="Apply Bidule for Core Module">
         </optionalConfigurationEntry>
      </configuration>
      <profile
            id="com.worldline.appprofiles.wizard.tests.moduleconf1.profile"
            kind="Standard"
            name="Profile to test configuration on modules">
         <module
               id="com.worldline.appprofiles.wizard.tests.moduleconf1.module1"
               mandatory="false"
               name="First Module"
               suffix="-first">
            <location>
               <mavenLocation
                     artifactId="designer-common"
                     groupId="com.worldline.archetypes"
                     repository="http://repository.atosworldline.com/maven2/"
                     version="3.0.0">
               </mavenLocation></location>
            <configurationReference
                  configurationId="com.worldline.appprofiles.wizard.tests.moduleconf1.conf1">
            </configurationReference>
         </module>
         <module
               id="com.worldline.appprofiles.wizard.tests.moduleconf1.module2"
               mandatory="false"
               name="Second Module"
               suffix="-second">
            <location>
               <mavenLocation
                     artifactId="designer-common"
                     groupId="com.worldline.archetypes"
                     repository="http://repository.atosworldline.com/maven2/"
                     version="3.0.0">
               </mavenLocation></location>
            <configurationReference
                  configurationId="com.worldline.appprofiles.wizard.tests.moduleconf1.conf2">
            </configurationReference>
         </module>
      </profile>
      <configuration
            id="com.worldline.appprofiles.wizard.tests.moduleconf1.conf1"
            name="com.worldline.appprofiles.wizard.tests.moduleconf1.conf1"
            version="1.0.0">
         <optionalConfigurationEntry
               configurator="com.worldline.appprofiles.wizard.tests.ModuleConf1"
               default="false"
               id="com.worldline.appprofiles.wizard.tests.optionalConfigurationEntry2"
               message="Enable Configuration on First Module">
         </optionalConfigurationEntry>
      </configuration>
      <configuration
            id="com.worldline.appprofiles.wizard.tests.moduleconf1.conf2"
            name="com.worldline.appprofiles.wizard.tests.moduleconf1.conf2"
            version="1.0.0">
         <optionalConfigurationEntry
               configurator="com.worldline.appprofiles.wizard.tests.ModuleConf1"
               default="false"
               id="com.worldline.appprofiles.wizard.tests.optionalConfigurationEntry32"
               message="Enable Configuration on Secong Module">
         </optionalConfigurationEntry>
      </configuration>
   </extension>
</plugin>
